In [25]:
import pandas as pd
import numpy as np
import random
random.seed(42)
np.random.seed(42)
print("Libraries imported.")

Libraries imported.

In [26]:

num_orders = 500
primary_items = ['Zinger Burger', 'Original Recipe Chicken', 'Popcorn Chicken', 'Twister Wrap', 'Hot Wings', 'zinger burger', 'ZINGER BURGER', 'Original Recipe', None]
side_items = ['Fries', 'Coleslaw', 'Mashed Potatoes', 'Corn on the Cob', 'Biscuits', 'FRIES', None, 'mashed potatoes']
times_of_day = ['Lunch', 'Dinner', 'Late Night', 'Afternoon Snack', 'lunch', 'DINNER']

data = {
    'OrderID': list(range(1, num_orders + 1)),
    'Primary_Item': [random.choice(primary_items) for _ in range(num_orders)],
    'Side_Item': [random.choice(side_items) for _ in range(num_orders)],
    'Time_Of_Day': [random.choice(times_of_day) for _ in range(num_orders)],
    'Customer_Age': [random.randint(18, 65) if random.random() > 0.1 else None for _ in range(num_orders)]
}

df = pd.DataFrame(data)
print("Raw Data Sample:")
display(df.head(10))
print(f"\nShape: {df.shape}")
print(f"\nMissing Values:\n{df.isnull().sum()}")

Raw Data Sample:

,OrderID,Primary_Item,Side_Item,Time_Of_Day,Customer_Age
0,1,Original Recipe Chicken,mashed potatoes,Lunch,46.0
1,2,Zinger Burger,Mashed Potatoes,Afternoon Snack,57.0
2,3,Hot Wings,mashed potatoes,Lunch,41.0
3,4,Twister Wrap,mashed potatoes,Dinner,42.0
4,5,Twister Wrap,Biscuits,Dinner,39.0
5,6,Popcorn Chicken,Corn on the Cob,DINNER,21.0
6,7,Original Recipe Chicken,Biscuits,DINNER,59.0
7,8,None,mashed potatoes,DINNER,39.0
8,9,Original Recipe Chicken,Corn on the Cob,Afternoon Snack,NaN
9,10,ZINGER BURGER,Biscuits,lunch,36.0

Shape: (500, 5)

Missing Values:
OrderID          0
Primary_Item    63
Side_Item       63
Time_Of_Day      0
Customer_Age    40
dtype: int64

In [27]:

text_cols = ['Primary_Item', 'Side_Item', 'Time_Of_Day']
for col in text_cols:
    df[col] = df[col].astype(str).str.lower().str.title()
    df[col] = df[col].replace({'None': np.nan, 'Nan': np.nan})

item_mapping = {
    'Original Recipe': 'Original Recipe Chicken',
    'Zinger Burger': 'Zinger Burger' 
}
df['Primary_Item'] = df['Primary_Item'].replace(item_mapping)

for col in ['Primary_Item', 'Side_Item', 'Time_Of_Day']:
    if not df[col].mode().empty:
        df[col] = df[col].fillna(df[col].mode()[0])

median_age = df['Customer_Age'].median()
df['Customer_Age'] = df['Customer_Age'].fillna(median_age)

print("Data Standardized and Imputed.")
print(f"\nMissing Values after cleaning:\n{df.isnull().sum()}")
display(df.head())

Data Standardized and Imputed.

Missing Values after cleaning:
OrderID         0
Primary_Item    0
Side_Item       0
Time_Of_Day     0
Customer_Age    0
dtype: int64

,OrderID,Primary_Item,Side_Item,Time_Of_Day,Customer_Age
0,1,Original Recipe Chicken,Mashed Potatoes,Lunch,46.0
1,2,Zinger Burger,Mashed Potatoes,Afternoon Snack,57.0
2,3,Hot Wings,Mashed Potatoes,Lunch,41.0
3,4,Twister Wrap,Mashed Potatoes,Dinner,42.0
4,5,Twister Wrap,Biscuits,Dinner,39.0

In [28]:
df.to_csv('cleaned_kfc_data.csv', index=False)
print("File 'cleaned_kfc_data.csv' saved successfully.")

File 'cleaned_kfc_data.csv' saved successfully.